<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.youzi.okredoo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/youzi_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".UserLoginActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".AccountListActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".OnlineAccountListActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".UserInfoEditActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".StatisticsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SendCoinActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SelectUserListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".GetMoneyActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SendGiftActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>